/** FONTS **/

@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-Thin.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-ThinItalic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
    font-weight: 100;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-ExtraLightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-LightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../_fonts/Montserrat-BlackItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}
@font-face {
  font-family: 'TF2';
  src: url('../_fonts/TF2.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Build';
  src: url('../_fonts/TF2Build.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Professor';
  src: url('../_fonts/TF2Professor.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Secondary';
  src: url('../_fonts/TF2Secondary.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}