/***** MEDIA QUERIES *****/

@media all and (max-width: 1290px) {
    body #header .head-content,
    body #header nav .nav-content {
        width: 95%;
    }
    body #main {
        width: 100%;
    }
}

@media all and (max-width: 1040px) {
    body #header nav .nav-content .nav-right {
        flex-direction: column;
        gap: 10px;
    }
}

@media all and (max-width: 870px) {
    body #header nav .nav-content {
        .burger-menu {
            display: flex;
            z-index: 101;
        }
        .burger-menu.open {
            position: fixed;
            top: 40px;
        }
        .burger-menu.open .bar:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
        .burger-menu.open .bar:nth-child(2) {
            opacity: 0;
        }
        .burger-menu.open .bar:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
        .nav-links {
            display: none; /* Caché par défaut sur mobile */
            flex-direction: column;
            justify-content: start;
            position: fixed;
            top: -20px; /* À ajuster selon la hauteur réelle de ta nav */
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $bg-gradient-1;
            padding: 75px 0;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            z-index: 100;

            li {
                margin: 10px 0;
                text-align: center;

                a {
                    font-size: 1.2em;
                    padding: 10px 20px;
                    display: block;
                }
            }
        }
        .nav-right {
            display: none; /* Caché sur mobile */
            z-index: 100;
            position: fixed;
            top: 473px;
            left: 85px;
        }
        .nav-links.open,
        .nav-right.open {
            display: flex; /* Affiché lorsque le menu est ouvert */
        }
    }

    body #header .embed {
        position: relative;
        top: 60px;
        right: unset;
        margin: 0 20px;
        #twitch-embed {
            transform: none !important;
            iframe {
                aspect-ratio: 16/9;
                width: 100%;
                height: 100%;
            }
        }
    }
    body #main #content #staff #sous-staff {
        flex-direction: column;
    }
}

@media all and (max-width: 726px) {
    body #header nav {
        padding: 20px 50px;

        .nav-content {
            width: 100%;

            ul {
                gap: 5px;
                width: auto;
            }
        }
    }
    body #main #content #questions {
        width: 100%;

            ul {
                line-height: unset;

            li {
                margin: 10px 0;
            }
        }
    }
     
    body #main #content #about {
        margin: 0;
    }
    body #main #content #numbers {
        width: 100%;
        box-sizing: border-box;
    }

    body #main #content #filters {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    body #main #content #logsTable {
        font-size: .8em;
    }
}

@media all and (max-width: 650px) {
    body #main #content #about .vid-container .pres-video {
        width: 95%;
    }
    body #main #content #about .vid-container .pres-video video {
        width: 100%;
    }
}

@media all and (max-width: 560px) {
    body #header nav .nav-content ul {
        flex-direction: column;
        gap: 40px;
    }
}

@media all and (max-width: 450px) {
    body #main #content #staff #sous-staff #mentors,
    body #main #content #staff #sous-staff #mixers {
        width: 100%;
        margin: 0 auto;
    }
    body #main #content #staff #sous-staff #mentors .staff-role,
    body #main #content #staff #sous-staff #mixers .staff-role {
        width: 100%;
    }
    body #main #content #staff #sous-staff #mentors h4,
    body #main #content #staff #sous-staff #mixers h4 {
        font-size: 1em;
    }
}

@media all and (max-width: 420px) {
    body #main #content #numbers {
        font-size: 1.2em;
    }
    body #main #content #join a {
        font-size: 1.5em;
    }
}