/** BASE PINK THEME **/

/** MAIN **/

$bg-gradient-1: rgb(55, 34, 58);
$bg-gradient-2: rgb(39, 36, 51);

$accent: #fbb7fb;

$nav-gradient-1: rgb(72, 30, 71);
$nav-gradient-2: rgb(78, 14, 73);
$nav-active: #ff62c26e;

$box-border: #38193d;
$box-border-hover: #5f235f;

$dropshadow-color: #8700e3;

$after-divider-gradient: rgba(186, 53, 215, 0.57);

$video3d-dropshadow: #8700e31c;
$video3d-shadow: #e97fff;

$number-dropshadow: #41145f;

$cta-bg: #72227d;


/** STAFF **/

$hr-color: #d061e77d;
$staff-box-border: #791677;
$staff-img-border: #fa57ff96;


/** HALL OF FAME **/

$tablefirst3-bg: rgba(253, 59, 195, 0.10);